<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页</title>
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="../css/bootstrap.min.css">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="../js/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="../js/bootstrap.min.js"></script>
</head>

<body>
<ul class="breadcrumb" style="margin:0;">
    <li><a href="#">核酸地点管理</a></li>
    <li>查询地点</li>
</ul>
<form class="form-inline">
<div class="row alert alert-info" style="margin:0;padding:3px;">

   
    <a class="btn btn-success" href="/map/add?uid=${uid}">添加地点</a>
    
</div>

<table class="table table-condensed table-striped">
    <tr>
        <th>编号</th>
        <th>主键</th>
        <th>核酸地点名称</th>
        <th>纬度</th>
        <th>经度</th>
        <th>开始时间</th>
        <th>结束时间</th>
        <th>操作</th>
    </tr>
    <#list retList as bean>
    <tr>
        <td>${bean_index+1}</td>
        <td>${(bean.id)!}</td>
        <td>${(bean.title)!}</td>
        <td>${(bean.latitude)!}</td>
        <td>${(bean.longitude)!}</td>
        <td>${(bean.stime)!}</td>
        <td>${(bean.etime)!}</td>
        <th>
        	<!-- 传两个参数uid登录用户的id，id是活动id -->
        	<a class="btn btn-primary btn-xs" href="/map/add?uid=${uid}&id=${(bean.id)!}">修改</a>
        	
        	<a class="btn btn-danger  btn-xs" href="/map/del?uid=${uid}&id=${(bean.id)!}">删除</a>
        </th>
    </tr>
    </#list>
</table>

</form>
</body>
</html>
